{% extends "base.html" %} 
{% block body %} 
<form method="POST" action="/login">
    <div> <label>username</label> <input type="text" name="username" /></div>
    <div> <label>password</label> <input type="password" name="password" /></div>
    <button>login</button>
</form>
 {% endblock %}