{% extends "base.html" %} 
{% block body %} 

list page 

<form action="/list" method="POST">
    <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> Favorite color: -->
    id <input type="text" name="_id"><br>
    name <input type="text" name="name">
    <button type="submit">Submit</button>
</form>

<ul>
  {% for item in list %}
  <li>{{ item._id }}  {{ item.name }}</li>
  {% endfor %}
</ul>
{% endblock %}