{% extends "base.html" %} 
{% block body %} 

list page 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<!-- <form action="/list" method="POST"> -->
    <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> Favorite color: -->
    id <input id="id" type="text" name="_id"><br>
    name <input id="name" type="text" name="name"><br>
    <button id="submitBtn" type="submit"> submit by ajax</button>
<!-- </form> -->
<script>
  
  $('#submitBtn').on('click',function(){
    var item = {
    _id: $('#id').val(),
    name: $('#name').val()
  };
  console.log('item', item);

    $.ajax('/list', {
    data : JSON.stringify(item),
    contentType : 'application/json',
    type : 'POST'}).then((data)=>{
      $('#list').append(`<li>${item._id} ${item.name}</li>`);
    }).catch((err)=>{
      console.log('err', err);
    });
  });

</script>
<ul id="list">
  {% for item in list %}
  <li>{{ item._id }}  {{ item.name }}</li>
  {% endfor %}
</ul>
{% endblock %}